[data-theme='1'] {
    --color: #000000;
    --background: rgba(0, 0, 0, 0);
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    background-color: var(--background);
    color: var(--color);
    width: 171px;
    height: 36px;
    padding-left: 10px;
    border-color: var(--color);
    cursor: pointer;
    position: relative;
}


.select:focus {
    border-color: var(--color);
}
