.radio {
    accent-color: black;
    width: 20px;
    height: 20px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    gap: 13px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
